<div class="row">
    <div class="col s12 m3 l4 side-image-members">
        <h3 class="white-text">Forums</h3>
    </div>
    <div class="col s12 m9 l8 main-directory-container">
        {{#if forums.length}}
        <div class="bolder-container">
            <h1 class="black-text bold">Our Forums</h1>
        </div>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Forum</th>
                    <th># of Posts</th>
                    <th>Created By:</th>
                </tr>
            </thead>
            <tbody>
                {{#each forums}}
                <tr class="forum-row" data-id="{{id}}">
                    <td>{{title}}</td>
                    <td>{{postCount}}</td>
                    <td>{{createdBy}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <h1 class="bold black-text">No Forums Have Been Created Yet</h1>
        {{/if}}
        {{#if is_admin}}
        <a href="/forums/add" class="waves-effect waves-light btn profile-buttons" id="add-event">Add Forum<i
                class="material-icons">add_circle</i></a>
        {{else}}
        <h3>Contact Your Admin to Create a New Forum</h4>
        {{/if}}

    </div>
</div>

<script src="../public/js/forums.js"></script>