<div class="row">
  <div class="col s12 m3 l4 side-image-profile">
    <h3 class="white-text">Your Profile</h3>
  </div>
  <div class="col s12 m9 l8 main-profile-container">
    <div class="profile-title-container">
      <div class="title-container">
        <div class="bolder-container">
          <h1 class="black-text bold">{{username}}</h1>
          {{#if is_admin}}
            <span>Admin of <span class="bold">{{company_name}}</span></span>
          {{else}}
            <span>Employee of <span class="bold">{{company_name}}</span></span>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="profile-containers">
      <h6 class="bold profile-title">Email:</h6>
      <span class="content-box">{{email}}</span>
    </div>
    <div class="profile-containers">
      <h6 class="bold profile-title">Phone Number:</h6>
      <span class="content-box">{{phone}}</span>
    </div>
    <div class="profile-containers">
      <h6 class="bold profile-title">Password:</h6>
      <span class="content-box">************</span>
    </div>
    <div class="button-container">
      <a class="waves-effect waves-light btn profile-buttons" href="/edit">Edit
        Profile</a>
    </div>

    <div class="profile-title-container">
      <div class="title-container">
        <div class="bolder-container">
          <h1 class="black-text bold"><a class="company-link-name" href="/company/{{company_id}}">{{company_name}}</a></h1>
          <span>Based in
            <span class="bold">{{company_city}}, {{company_state}}</span></span>
        </div>
      </div>
      <div class="profile-containers">
        <h6 class="bold profile-title">Cause</h6>
        <span class="content-box">{{company_cause}}</span>
      </div>
      <div class="profile-containers">
        <h6 class="bold profile-title">Company Key</h6>
        <span class="content-box">{{company_key}}</span>
      </div>
      <div class="button-container">
        <a
          class="waves-effect waves-light btn profile-buttons"
          id="delete-profile"
        >Leave Company</a>
      </div>
    </div>
  </div>
</div>